.creative__conteiner{
padding: 20px;
@include pageGrid;

}

.creative__content {
  margin: 120px 0 48px 0;
  grid-column: 1 / -1;

  @include onTablet{
    margin: 148px 0 48px 0;
    grid-column: 1 / 4;
  }
}

.small-creative__title {
  font-family: Poppins, Arial;
  font-weight: 700;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 3px;
  color: #c0cdd7;
}

.creative__title {
  font-family: Poppins, Arial;
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
  color: #253757;
  margin: 16px 0 24px 0;
}

.creative-description {
  font-family:
    Open Sans,
    Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6c788b;
  // padding-bottom: 48px;

}
// градіїнт в середині
.agency__content {
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 100%;
  height: 264px;
  transition: background 0.3s ease, transform 0.3s ease-in-out;
  margin-bottom: 24px;
  grid-column: 1 / -1;

  @include onTablet{
    &:nth-child(odd) {
      grid-column: 4 / span 4;
    }

    &:nth-child(even) {
      grid-column: 1 / 4;
    }
    &:nth-child(odd):not(:nth-child(2)) {
      margin-top: 116px; // Зміщення вниз лише для парних, крім другого.
    }
  }
}

.agency__content:hover {
  /* градієнтний фон */
  background: linear-gradient(135deg, rgba(113, 114, 114, 0.1),  rgba(113, 114, 114, 0.1));
  box-shadow: 0 4px 10px rgba(224, 222, 222, 0.2); /* Легка тінь для глибини */
  transform: scale(1.05);
}


.agency__number {
  padding: 34px 0 0 44px;
}

.number {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 19.5px;
  color: #2060f6;
}

.agency__title {
  font-family:
    Open Sans,
    sans-serif;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 19.5px;
  color: #6c788b;
  padding: 24px 48px 0 32px;
}

.agency__button {
  display: flex;
  gap: 16px;
  padding: 32px 0 0 32px;

}

.rigth__button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #2060f6;
  border: #2060f6;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  line-height: 27px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover{
    background-color: #1040b6;
    transform: scale(1.01);
    box-shadow: 0px 4px 15px rgba(1, 52, 171, 0.5);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: 0px 4px 15px rgba(1, 52, 171, 0.5);
  }
}

.button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22.5px;
  color: #334563;
}
