.people__conteiner {
  margin: 120px 20px 0 20px;
}

.small-people__title {
  font-family: Poppins, Arial;
  font-weight: 700;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 3px;
  color: #c0cdd7;
}

.people__title {
  font-family: Poppins, Arial;
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
  color: #253757;
  margin: 16px 0 48px 0;
}

.people__con {
  margin-top: 24px;
}

.people__coments {
  border-radius: 16px;
  background-color: #ffffff;
  width: 280px;
  height: 100%;
  margin-top: 24px;
  transition: all 0.3s ease;
  
}

.people__coments:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.people__photo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.people__znak {
  width: 24;
  height: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.people__description {
  font-family:
    Open Sans,
    sans-serif;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 19.5px;
  color: #6c788b;
  padding: 0 42px 0 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.people__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 39px 32px 39px;
}

.people__name {
  font-family: 'Open Sans', sans-serif;
  color: #253757;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 19.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.people__city {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 3px;
  color: #c0cdd7;
  padding-top: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper {
  position: relative;
  width: 108.98px;
  margin: 50px auto;
  padding-bottom: 32px;
}

.div{
  padding-top: 32px;
}

.wrapper::before,
.wrapper::after {
  content: '';
  position: absolute;
  width: 108.98px;
  height: 43.9px;
  background-color: #2060F6;
  border-radius: 12px;
  z-index: 1;
}

.wrapper::before {
  top: 0;
  left: 0;
  transform: rotate(308deg) translate(-30px, 75px);
}

.wrapper::after {
  top: 0;
  right: 0;
  transform: rotate(308deg) translate(-30px, -25px);
}

.profile {
  position: relative;
  z-index: 10;
}
