.who-we-are {
  padding: 0 20px 0 20px;
}
.who-we-are__description {
  font-family:
    Open Sans,
    Arial;
  display: grid;
  margin: 0;
  line-height: 33px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #6c788b;
}
